ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="XD47K9P20001A3M7Q8R", SYMLINK+="OSDisk01"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="XD47K9P20002A3M7Q8S", SYMLINK+="OSDisk02"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="XD47K9P20003A3M7Q8T", SYMLINK+="SSDPoolDisk01"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="XD47K9P20004A3M7Q8U", SYMLINK+="SSDPoolDisk02"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="XD47K9P20005A3M7Q8V", SYMLINK+="SSDPoolDisk03"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="XD47K9P20006A3M7Q8W", SYMLINK+="SSDPoolDisk04"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="XD47K9P20007A3M7Q8X", SYMLINK+="SSDPoolDisk05"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="XD47K9P20008A3M7Q8Y", SYMLINK+="SSDPoolDisk06"
