ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50001C4N8T2P", SYMLINK+="disk00"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50002C4N8T2Q", SYMLINK+="disk01"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50003C4N8T2R", SYMLINK+="disk02"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50004C4N8T2S", SYMLINK+="disk03"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50005C4N8T2T", SYMLINK+="disk04"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50006C4N8T2U", SYMLINK+="disk05"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50007C4N8T2V", SYMLINK+="disk06"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50008C4N8T2W", SYMLINK+="disk07"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50009C4N8T2X", SYMLINK+="disk08"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50010C4N8T2Y", SYMLINK+="disk09"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50011C4N8T2Z", SYMLINK+="disk10"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50012C4N8T3A", SYMLINK+="disk11"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50013C4N8T3B", SYMLINK+="disk12"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50014C4N8T3C", SYMLINK+="disk13"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50015C4N8T3D", SYMLINK+="disk14"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50016C4N8T3E", SYMLINK+="disk15"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50017C4N8T3F", SYMLINK+="disk16"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50018C4N8T3G", SYMLINK+="disk17"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50019C4N8T3H", SYMLINK+="disk18"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50020C4N8T3I", SYMLINK+="disk19"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50021C4N8T3J", SYMLINK+="disk20"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50022C4N8T3K", SYMLINK+="disk21"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50023C4N8T3L", SYMLINK+="disk22"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50024C4N8T3M", SYMLINK+="disk23"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50025C4N8T3N", SYMLINK+="disk24"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50026C4N8T3O", SYMLINK+="disk25"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50027C4N8T3P", SYMLINK+="disk26"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50028C4N8T3Q", SYMLINK+="disk27"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50029C4N8T3R", SYMLINK+="disk28"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50030C4N8T3S", SYMLINK+="disk29"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50031C4N8T3T", SYMLINK+="disk30"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50032C4N8T3U", SYMLINK+="disk31"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50033C4N8T3V", SYMLINK+="disk32"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50034C4N8T3W", SYMLINK+="disk33"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50035C4N8T3X", SYMLINK+="disk34"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50036C4N8T3Y", SYMLINK+="disk35"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50037C4N8T3Z", SYMLINK+="disk36"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50038C4N8T4A", SYMLINK+="disk37"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50039C4N8T4B", SYMLINK+="disk38"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50040C4N8T4C", SYMLINK+="disk39"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50041C4N8T4D", SYMLINK+="disk40"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50042C4N8T4E", SYMLINK+="disk41"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50043C4N8T4F", SYMLINK+="disk42"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50044C4N8T4G", SYMLINK+="disk43"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50045C4N8T4H", SYMLINK+="disk44"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50046C4N8T4I", SYMLINK+="disk45"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50047C4N8T4J", SYMLINK+="disk46"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50048C4N8T4K", SYMLINK+="disk47"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50049C4N8T4L", SYMLINK+="disk48"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50050C4N8T4M", SYMLINK+="disk49"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50051C4N8T4N", SYMLINK+="disk50"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50052C4N8T4O", SYMLINK+="disk51"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", ENV{ID_SCSI_SERIAL}=="JH19Q7Z50053C4N8T4P", SYMLINK+="disk52"

# Continue until done. "One Device is one Udev file."
